<!-- Main -->
<div class="container-fluid">
	<section id="banner">
		<div class="inner">
			<header>
				<h1>Welcome to the Online Music Library</h1>
				<p>Here you'll be able to store, sort and play all your music into playlists.</p>
			</header>
			<a id="myBtnSignIn" href="#/register" data-rel="popup" data-position-to="window" class="button big alt scrolly" >Sign up</a>
			<a id="myBtnSignUp" href="#/login" data-rel="popup" data-position-to="window" class="button big alt scrolly" >Sign in</a>
		</div>
	</section>
	<div data-role="popup" id="loginModal" class="loginModal">
		<iframe class="loginModalContainer" id="loginModalContainer" src="views/loginRegister.html" width="600px" height="600px"></iframe>
		<div style="text-align: center;">
			<span onclick="document.getElementById('loginModal').style.display='none'" class="button big alt scrolly">Close</span>
		</div>
	</div>
</div>