<div class="container-fluid" >
	<section class="wrapper style1">
		<div class="inner">
			<h1 class="align-center">
				<h2>Your playlist</h2>
				<p>Here you'll be able to add and remove songs from your playlist</p>
			</h1>
		</div>
	</section>
	<div id="main">
		<!-- Three -->
		<section class="wrapper ">
			<div class="inner">
				<table class="table table-hover"><thead>
				<tr>
					<th>Play</th>
					<th>Artist</th>
					<th>Title</th>
					<th>File</th>
					<th>Remove</th>
				</tr>
				</thead>
					<tbody ng-repeat="n in songs">
					<tr>
						<!--<td><a href="" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-tag"></span></a></td>-->
						<td>
							<my-audio>
								<audio class="player">
									<source ng-src="{{n.path}}" />
								</audio>
								<button id="play" class="play">Play</button>
							</my-audio>
						</td>
						<td>{{n.artist}}</td>
						<td>{{n.title}}</td>
						<td><a ng-show="n.path" href="{{n.path}}" target="_blank">File</a></td>
						<td><a href="{{n.path}}">{{n.path}}</a></td>
						<td>
							<a  ng-click="removeSong(n._id)" type="checkbox" class="btn btn-default" href="#/playlists">Remove</a>
						</td>
					</tr>
					</tbody>
				</table>
				</br></br>
				<h4>Add a song</h4>
				<div id="todo-form" class="row">
					<div class="col-sm-8 col-sm-offset-2 text-center">
						<form ng-submit="submitSong()">
							<div class="form-group">
								<div class="form-group">
									<label class="control-label col-sm-1" >Title:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control input-lg text-center" placeholder="Title" ng-model="formData.title" required>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-1" >Title:</label>
									<div class="col-sm-5">
										<input type="text" class="form-control input-lg text-center" placeholder="Artist" ng-model="formData.artist" required>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-offset-1 col-sm-10">Select File</label>
										<input type="file" id="file" class="button icon fa-download" file-upload multiple ng-model="formData.op" name="file">
								</div>
								<div id="progressNumber">

								</div>
								<div class="form-group">
									<div class="col-sm-offset-1 col-sm-10">
										<button type="submit" class="button alt icon fa-check">Submit song</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>