<div id="header">
	<h1><a href="#/playlists">OnlineMusicLibrary<span>M7011E project</span></a></h1>
	<a href="#/" ng-click="logout()">Logout</a>
	<a href="#menu">Menu</a>
	<img id="spinner" style="display:none" src="/images/ajax-loader.gif" alt="">

	<nav id="menu">
		<ul class="links">
			<li><a href="#/playlists">Playlists</a></li>
			<li><a href="#/" onclick="logout()">Logout</a></li>
		</ul>
	</nav>
</div>
<!-- Nav -->

<div class="container-fluid" >
	<section class="wrapper style1">
		<div class="inner">
			<h1 class="align-center">
				<h2>Your playlists</h2>
				<div>
					<h1>Select a playlist</h1>
					<select id="selectPlaylist" onchange="updateSongTable()" ng-change="getPlaylist(playlist)" form="songForm" ng-model="playlist" ng-options="p as p.name for p in playlists" required></select>
					<br>
					<td>
						<form>
							<button onclick="showPlaylistTextField()">Add Playlist</button>
							<button ng-click="deletePlaylist()">Remove Playlist</button>
						</form>
					</td>
				</div>
				<div id="newPlaylist" class="newPlaylist">
					<form ng-submit="createPlaylist()">
						<input type="text" ng-model="formData.playlistName" id="playlistNameInput" required>
						<button type="submit" onclick="showPlaylistTextField()">Create</button>
					</form>
				</div>
			</h1>
		</div>

	</section>
	<div id="main">
		<!-- Three -->
		<section class="wrapper ">
			<div class="inner">
			<span class="pull-left" style="margin:0px auto; display:block;text-align:center;">
				<h2>{{ playlist.name }}</h2>
			</span>
				<div id="newSongButton" class="newSongButton" style="display: none; text-indent:20px;">
					<br><td>
					<button onclick="showAddSongsForm()">Add Songs to the playlist!</button>
				</td>
				</div>
				<div id="newSong" class="newSong" style="display: none;">
					<br><br><br><br>
					<h4>Add a song</h4>
					<div id="todo-form" class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<form id="songForm" ng-submit="addSongToPlaylist()">
								<div class="form-group">
									<div class="form-group">
										<label class="control-label col-sm-1" >Title:</label>
										<div class="col-sm-5">
											<input type="text" class="form-control input-lg text-center" placeholder="Title" ng-model="formData.title" required>
										</div>
									</div>
									<div class="form-group">
										<br><label class="control-label col-sm-1" >Artist:</label>
										<div class="col-sm-5">
											<input type="text" class="form-control input-lg text-center" placeholder="Artist" ng-model="formData.artist" required>
										</div>
									</div>
									<div class="form-group">
										<br><label class="col-sm-offset-1 col-sm-10">Select File:</label>
										<input type="file" id="file" file-upload multiple ng-model="formData.op" name="file">
									</div>
									<div id="progressNumber">

									</div>
									<div class="form-group">
										<div class="col-sm-offset-1 col-sm-10">
											<br><button type="submit" class="button alt icon fa-check">Submit song</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<table class="table table-hover"><thead>
				<tr>
					<th>Play</th>
					<th>Artist</th>
					<th>Title</th>
					<th>File</th>
					<th>Remove</th>
				</tr>
				</thead>
					<tbody id="songTable" ng-repeat="song in playlist.songs">
					<tr>
						<td>
							<button ng-click="playTunes(song.path)">Play</button>
							<button ng-click="stopTunes(song.path)">Pause</button>
							<div>
							</div>
						</td>
						<td>{{song.artist}}</td>
						<td>{{song.title}}</td>
						<td><a ng-show="song.path" href="{{song.path}}" target="_blank">File</a></td>
						<td><a href="{{song.path}}">{{song.path}}</a></td>
						<td>
							<a  ng-click="deleteSong(song.path)" type="checkbox" class="btn btn-default" href="#/playlists">Remove</a>
						</td>
					</tr>
					</tbody>
				</table>
				</br></br>
			</div>
		</section>
	</div>
</div>